html {
  height: 100%;
}

body {
  height: 99%;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#main-container {

}

#header {
  border: 1px solid black;
  float: left;
  width: 100%;
  background-color: #4d4d4d;
  color: #d9d9d9;
  position: relative;
}

#header a {
  color: #d9d9d9;
  text-decoration: none;
}

#title {
  float: left;
}

#toolbar {
  float: right;
}
